# Dependencies
node_modules/
package-lock.json

# Local assets not meant for deployment
_raw_assets/

# IDE and OS files
.DS_Store
.vscode/
voku/
*.pdf

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
